@import "../colors.scss";

.bar {
    background: $background-darker;
    color: $foreground;
    font-size: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: $background;
    border-width: 0px 5px 5px;
}

.block {
    padding: 0px 10px 0px 10px;
}

@import "workspaces/workspaces.scss";

@import "resize/resize.scss";

@import "cpu/cpu.scss";

@import "memory/memory.scss";

@import "audio/audio.scss";

@import "battery/battery.scss";

@import "special-workspaces/special-workspaces.scss";
