@import "../colors.scss";

.shutdown-menu {
    color: $foreground;
    font-size: 100px;
}

.power-button {
    background: $background;
    color: $foreground;
    border-radius: 20px;
    border-color: $purple;
    border-width: 2px;
    border-style: solid;
    margin: 20px;
    padding: 20px 100px;
}
